*, *::before, *::after
{
  box-sizing: border-box;
}

html, body, h1, h2
{
  margin: 0;
}

body
{
  width: 340px;
  border-color: var(--border-color-alternative);
  border-radius: var(--border-radius-default);
  border-style: var(--border-style-default);
  border-width: var(--border-width-default);
  background-color: var(--background-color-default);
  color: var(--color-default);
  font-size: var(--font-size-default);
}

header, main > *, footer
{
  padding: var(--padding-default);
}

header
{
  padding-bottom: var(--padding-default);
}

header h1
{
  color: var(--color-alternative);
  font-size: var(--font-size-big);
}

/* notifications will probably be a component */
header .notification::before
{
  content: ' ';
  display: block;
  height: calc(2 * var(--border-width-alternative));
  overflow: hidden;
  margin-left: calc(-1 * var(--border-width-default));
  margin-right: calc(-1 * var(--border-width-default));
  border: 0;
  border-radius: var(--border-radius-default);
  border-top-color: var(--border-top-color);
  border-top-style: var(--border-style-default);
  border-top-width: var(--border-width-alternative);
}

header .notification.critical::before
{
  --border-top-color: var(--color-critical);
}

header .notification.info::before
{
  --border-top-color: var(--color-info);
}

header .notification,
main .card
{
  border-color: var(--border-color-default);
  border-radius: var(--border-radius-default);
  border-style: var(--border-style-default);
  border-width: var(--border-width-default);
  box-shadow: var(--box-shadow-default);
}

header .notification
{
  border-top: 0;
  margin-top: var(--margin-default);
  margin-bottom: var(--half-gap);
}

header .notification > div
{
  padding: var(--padding-default);
}

header .notification h3
{
  color: var(--color-alternative);
  font-size: var(--font-size-default);
}

header .notification hr
{
  border: 0;
  height: var(--border-width-default);
  background: var(--border-color-default);
}

header .notification hr + a
{
  display: block;
  padding-top: var(--padding-default);
  margin-bottom: var(--half-gap);
}

a, a:hover, a:visited, a:active
{
  color: var(--color-link);
  text-decoration: none;
}

main h2
{
  color: var(--color-alternative);
  font-size: var(--font-size-medium);
}

main .details
{
  background-color: var(--background-color-alternative);
}

main .card
{
  padding: var(--padding-default);
  margin-top: var(--half-gap);
  background-color: var(--background-color-default);
}

main .card strong
{
  color: var(--color-alternative);
}

main .options
{
  display: flex;
  padding-top: var(--padding-default);
}

main .options button
{
  flex-grow: 1;
  text-align: center;
  padding: var(--padding-default);
  border: 0;
  font-size: var(--font-size-small);
  color: var(--color-default);
  background-color: transparent;
  border-left-color: var(--border-color-default);
  border-left-style: var(--border-style-default);
  border-left-width: var(--border-width-default);
}

main .options button:last-child
{
  border-right-color: var(--border-color-default);
  border-right-style: var(--border-style-default);
  border-right-width: var(--border-width-default);
}

main > *, footer
{
  border-top-color: var(--border-color-default);
  border-top-style: var(--border-style-default);
  border-top-width: var(--border-width-default);
}