:root
{
  --background-color-alternative: #f7f7f7;
  --background-color-default: #ffffff;
  --border-color-alternative: #d2d2d2;
  --border-color-default: #e6e6e6;
  --border-radius-default: 6px;
  --border-style-default: solid;
  --border-width-alternative: 4px;
  --border-width-default: 1px;
  --box-shadow-default: 0 2px 4px 0 hsla(0, 0%, 84%, 0.5);
  --color-alternative: #000000;
  --color-critical: #ca0000;
  --color-default: #585858;
  --color-link: #0797e1;
  --color-info: #0797e1;
  --font-size-big: 13pt;
  --font-size-medium: 12pt;
  --font-size-default: 11pt;
  --margin-default: 16px;
  --padding-default: 16px;
  --half-gap: calc(var(--margin-default) / 2);
}